<h1>Login utente</h1>

<form #homeform="ngForm" (ngSubmit)="onSubmit(homeform)">
    <!-- NOME -->
    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput type="text" name="nome" ngModel required>
    </mat-form-field>

    <!-- COGNOME  -->
    <mat-form-field>
        <mat-label>Cognome</mat-label>
        <input matInput type="text" name="cognome" ngModel required>
    </mat-form-field>

    <!-- EMAIL  -->
    <mat-form-field>
        <mat-label>eMail</mat-label>
        <input matInput type="email" name="email" ngModel required>
    </mat-form-field>

    <!-- PASSWORD  -->
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" ngModel required>
    </mat-form-field>

    <!-- SUBMIT - disabilitato se tutti i campi required non sono popolati  -->
    <button type="submit" mat-raised-button color="primary" [disabled]="!homeform.valid">Salva</button>
</form>
